.frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  display: block;
  transform-origin: top left;
}
